@charset "UTF-8";

/*Importando duas fontes*/
@font-face {
    font-family: especial;
    src: url(fonte/Darling\ Coffee.otf)
}
@font-face {
    font-family: normal;
    src: url(fonte/TT\ Interphases\ Pro\ Mono\ Trial\ Bold.ttf)
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*aplicando cores bases que foram aprovadas no briefing*/
:root{
    --cor1: #eaddf9; 
    --cor2: #ccc0d6;
    --cor3: #b296d9;
    --cor4: #574f73;
    --cor5: #ded3e3;
}

body, html{
    background: var(--cor2);
    width: 100%;
	height: 100%;
	margin: 0;    
    
}