@font-face {
    font-family: especial;
    src: url(fonte/Darling\ Coffee.otf);
}

@font-face {
    font-family: normal;
    src: url(fonte/TT\ Interphases\ Pro\ Mono\ Trial\ Bold.ttf)
}

:root {
    --cor1: #eaddf9;
    --cor2: #ccc0d6;
    --cor3: #b296d9;
    --cor4: #574f73;
    --cor5: #ded3e3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/**********PÁGINA LOGIN********/
body {
    background-color: beige;

}

/*Titulo*/
#titulo h2 {
    font-size: 90px;
    color: #240046;
    font-family: especial;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 150px;
}

/*classe geral*/
.container-img {
    display: flex;
    align-items: center;
    margin: auto;
    width: 550px;
    height: 400px;
    background-color: var(--cor3);
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 2em #240046;
}

/*classe da imagem que vai ficar ao lado do form*/
.container-img img {
    height: 300px;
    padding: auto;
    margin: 10px 0px
}

#login {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid --cor4;
    border-radius: 4px;
    font-size: 16px;
    font-family: normal;
    background-color: var(--cor1);
}

input[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    font-family: especial;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #555;
}

.mensagem {
    padding-top: 10px;
    font-family: normal;
    
}

.mensagem a {
    font-family: normal;
    
}

.senha-container {
    position: relative;
}

.senha-container i {
    cursor: pointer;
    position: absolute;
    left: 230px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--cor3);
    pointer-events: visible;
}

.senha-container i:hover {
    color: var(--cor4);
}

/*pÁGINA HOME--------------------------*/

/*header banner topo*/
#menuInicial{
    width: 1350px;
    justify-content: space-between;
}
.menu{
    font-family: normal;
    list-style: none;
    color: var(--cor4);
    display: flex;
    float: left;
}
.menu li{
    padding: 3px;
    margin: 5px;
    font-size: 1.2em;
    color: var(--cor4);
}
.menu li a{
    text-decoration: none;
}
.menu li a:hover{
    color: #ccc0d6;
}
#menuInicial, .bannerTopo{
    margin: 30px auto 20px auto;
    display: flex;
}

.bannerTopo{
    width: 1400px;
    height: 500px;
    border: 5px solid var(--cor3);
    border-radius: 30px;
    background-color: var(--cor4);
    justify-content: space-around;
    box-shadow: 0px 5px 15px black;
}

.bannerTopo img{
    height: 796px;
}

.bannerTopo h1{
    font-family: especial;
    color: beige;
    font-size: 10.0em ;
    margin: auto;
}

/*conteúdo texto section main*/

main, .subAreaCtt, .tituloContato h1 {
    width: 1320px;
    margin: 30px auto 20px auto;
}
.tituloMain{
    font-size: 2.6em;
    margin: 40px 0px 20px 0px;
    font-family: especial;
    color: beige;
    text-shadow: 0px -1px #240046, 1px 0px #240046, 0px 1px #240046, -1px 0px #240046;
}
.textoMain{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: var(--cor4);
}
/*sections*/
section{
    margin: 25px 0px 25px 0px;
    font-size: 1.1em;
    width: 800px;
    border: 1px solid #240046;
    padding: 25px;
    background-color: #574f73;
    box-shadow: 0px 5px 15px black;
}
section p{
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#tituloSection, #tituloSection2, .tituloContato{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    color: #ccc0d6;
    margin: 6px 0px 6px 0px;
    text-shadow: 0px -1px #240046, 1px 0px #240046, 0px 1px #240046, -1px 0px #240046;
}
#servico_petcho{
    border-radius: 0px 15px ;

}
#servico_petcho2{
    border-radius: 15px 0px ;
}
#tituloSection2, #sec2{
    text-align: end;
}
#sectionSec{
    width: 1320px;
    justify-content: end;
    display: flex;
    padding: 0px;
    margin-top: 2px;
}

/*galeria*/
.wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.image{
    height: 300px;
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 15px black
}
.image img{
    height: 300px;
    display: block;
    margin: auto;
}
.contentio{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.contentio:hover{
    opacity: 1;
}
.contentio h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    text-align: center;
    text-shadow: 3px 2px 2px black;
}
.contentio p{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    margin: 3px auto 3px auto;
    opacity: 50%;
    text-align: center;
}
.areaContato{
    height: 450px;
    background-color: #240046;
}
.subAreaCtt{
    justify-content: space-between;
    display: flex;
}
.colunaCtt{
   /* background-color: chocolate;*/
    width:300px;
    height: 300px;
}
.colunaCtt h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ccc0d6;
    opacity: 50%;
    margin-bottom: 15px;
}
.colunaCtt img{
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
}
.colunaCtt li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
    list-style: none;
    color: beige;
    opacity: 60%;
}
.colunaCtt li a{
    color: beige;
    text-decoration: none;
}
.colunaCtt li a:hover{
    text-decoration: underline;
}
#imgcoluna {
   
    width: 100%;
    height: 100%;
}
#imgcoluna img{
    width: 100%;
    height: 100%;
    opacity: 40%;
}

#rodape{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 20px;
    background-color: #574f73;
    display: flex;
}
#rodape p{
    font-size: .9em;
    color: beige;
    opacity: 30%;
    margin: auto;
}

@media screen and (max-width: 1000px) {

    /*topo do site*/
    #titulo h2 {
        font-size: 95px;
        margin-bottom: 40px;
        padding-top: 90px;
    }

    /*container */
    .container-img img {
        width: 90px;
        height: 100px;
        padding: 10px;
        margin: 0px auto 0px auto;

    }

    .container-img {
        flex-direction: column;
        margin: 20px;
        width: 350px;
        height: 350px;
        padding: 5px;
        margin: 0px auto 0px auto;
    }

    #login {
        width: 200px;
        margin: 0px auto 0px auto;
    }
    /*caixa de usuario e senha*/
    input[type="text"],
    input[type="password"] {
        justify-content: center;
        border-radius: 4px;
        margin-left: -12px;
    }
    /*botão entrar*/
    input[type="submit"] {
        margin: 5px auto 0px auto;
    }
    /*eye-fill*/
    .senha-container i {
        left: 195px;
    }
    /*class mensagem*/
    .mensagem {
        padding-top: 10px;
        font-family: normal;
        display: block;
    }
}