@font-face {
    font-family: especial;
    src: url(fonte/Darling\ Coffee.otf);
}

@font-face {
    font-family: normal;
    src: url(fonte/TT\ Interphases\ Pro\ Mono\ Trial\ Bold.ttf)
}

:root {
    --cor1: #eaddf9;
    --cor2: #ccc0d6;
    --cor3: #b296d9;
    --cor4: #574f73;
    --cor5: #ded3e3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Cor de fundo*/
body {
    background-color: var(--cor1);

}

/*Titulo*/
h2 {
    font-size: 90px;
    color: #240046;
    font-family: especial;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 150px;
}

/*classe geral*/
.container-img {
    display: flex;
    align-items: center;
    margin: auto;
    width: 550px;
    height: 400px;
    background-color: var(--cor3);
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 2em #240046;
}

/*classe da imagem que vai ficar ao lado do form*/
.container-img img {
    height: 300px;
    padding: auto;
    margin: 10px 0px
}

#login {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid --cor4;
    border-radius: 4px;
    font-size: 16px;
    font-family: normal;
    background-color: var(--cor1);
}

input[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    font-family: especial;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #555;
}

.mensagem {
    padding-top: 10px;
    font-family: normal;
    
}

.mensagem a {
    font-family: normal;
    
}

.senha-container {
    position: relative;
}

.senha-container i {
    cursor: pointer;
    position: absolute;
    left: 230px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--cor3);
    pointer-events: visible;
}

.senha-container i:hover {
    color: var(--cor4);
}

@media screen and (max-width: 1000px) {

    /*topo do site*/
    h2 {
        font-size: 95px;
        margin-bottom: 40px;
        padding-top: 90px;
    }

    /*container */
    .container-img img {
        width: 90px;
        height: 100px;
        padding: 10px;
        margin: 0px auto 0px auto;

    }

    .container-img {
        flex-direction: column;
        margin: 20px;
        width: 350px;
        height: 350px;
        padding: 5px;
        margin: 0px auto 0px auto;
    }

    #login {
        width: 200px;
        margin: 0px auto 0px auto;
    }
    /*caixa de usuario e senha*/
    input[type="text"],
    input[type="password"] {
        justify-content: center;
        border-radius: 4px;
        margin-left: -12px;
    }
    /*botão entrar*/
    input[type="submit"] {
        margin: 5px auto 0px auto;
    }
    /*eye-fill*/
    .senha-container i {
        left: 195px;
    }
    /*class mensagem*/
    .mensagem {
        padding-top: 10px;
        font-family: normal;
        display: block;
    }
}